<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.resizable.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.selectable.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.accordion.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.button.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.slider.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.tabs.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.progressbar.css")" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/_references.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/AjaxLogin.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>

        <script src="/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
        
@*        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")
        @RenderSection("scripts", required: false)
*@    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
